.benchmarks-left-nav ul {
    margin-top: 20%;
}

.benchmarks-left-nav li {
    padding: 11px 0px;
    padding-left: 40px;
    word-break: break-word;
    cursor: not-allowed;
    color: #ccc;
}

.benchmarks-left-nav a {
    cursor: not-allowed;
}

.benchmarks-left-nav li.active, .benchmarks-left-nav li.active a {
    cursor: pointer; 
    background-color: hsl(0, 0%, 90%) !important;
    color: #000;
}

.benchmarks-left-nav li.completed, .benchmarks-left-nav li.completed a {
    cursor: pointer; 
    color: #000;
}

.upload-task .uppy-comp {
    margin: 2% 15%;
}

.upload-task, .validation-task {
    padding: 3%;
}

.uppy-uploader-component {
    margin-top: 3%;
}

.uppy-uploader-component span{
    margin-left: 2rem;
}

.upload-task .uppy-Dashboard {
    height: 23rem;
}

.next-upon-success button{
    float: right;
    cursor: pointer;
}
.next-upon-success button{
    margin-top: 5px;
}

.upload-task .uploaded-files {
    margin-left: 2rem;
    margin-top: 20px;
}

.upload-task .file-list-heading {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .upload-task .file-list {
    list-style: none;
    padding: 0;
  }
  
  .upload-task .file-list-item {
    font-size: 16px;
    margin-bottom: 5px;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .upload-task .file-list-item:hover {
    color: #007bff; /* Change the color on hover */
  }
  


  /* ValidationTaskComponent.css */

.validation-task .container {
    padding: 20px;
    border-radius: 10px;
    background-color: #f5f5f5;
  }
  
  .validation-task .header {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .validation-task .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  
  .navigation-buttons .button, .next-upon-success button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .navigation-buttons .button:hover {
    background-color: #0056b3;
  }

.navigation-buttons {
    display: flex;
    margin-top: 2rem;
}

.navigation-buttons .previous, .navigation-buttons .next-upon-success {
    flex: 1;
}


.task-builder-task .task-section, .task-builder-task .task-id-section, .task-builder-task .metadata-section, .task-builder-task .metadata-item, .task-builder-task .split-parameters {
  margin-bottom: 15px;
}

.task-builder-task h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.task-builder-task label {
  display: block;
  margin-bottom: 2rem;
  font-weight: 500;
}

.task-builder-task label p{
  margin-bottom: 5px;
}

.task-builder-task input[type="range"] {
  width: 80%;
}

.task-builder-task button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.task-builder-task button:hover {
  background-color: #0056b3;
}



.review-task {
  width: 95%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section {
  margin-bottom: 20px;
}

.section-heading {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  text-align: left;
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-heading i {
  font-size: 16px;
  margin-right: 8px;
}

.section-content {
  display: none;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 10px;
}
