.benchmarks-left-nav ul {
    margin-top: 20%;
}

.benchmarks-left-nav li {
    padding: 11px 0px;
    padding-left: 40px;
    word-break: break-word;
    cursor: not-allowed;
    color: #ccc;
}

.benchmarks-left-nav a {
    cursor: not-allowed;
}

.benchmarks-left-nav li.active, .benchmarks-left-nav li.active a {
    cursor: pointer; 
    background-color: hsl(0, 0%, 90%) !important;
    color: #000;
}

.benchmarks-left-nav li.completed, .benchmarks-left-nav li.completed a {
    cursor: pointer; 
    color: #000;
}

.upload-task .uppy-comp {
    margin: 2% 15%;
}

.upload-task, .validation-task {
    padding: 3%;
}

.uppy-uploader-component {
    margin-top: 3%;
}

/* .uppy-uploader-component span{
    margin-left: 2rem;
} */

.upload-task .uppy-Dashboard {
    height: 23rem;
}

.next-upon-success button{
    float: right;
    cursor: pointer;
}
.next-upon-success button{
    margin-top: 5px;
}

.upload-task .uploaded-files {
    margin-left: 2rem;
    margin-top: 20px;
}

.upload-task .file-list-heading {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .upload-task .file-list {
    list-style: none;
    padding: 0;
  }
  
  .upload-task .file-list-item {
    font-size: 16px;
    margin-bottom: 5px;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .upload-task .file-list-item:hover {
    color: #007bff; /* Change the color on hover */
  }
  


  /* ValidationTaskComponent.css */

.validation-task .container {
    padding: 20px;
    border-radius: 10px;
    background-color: #f5f5f5;
  }
  
  .validation-task .header {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .validation-task .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  
  .navigation-buttons .button, .next-upon-success button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .navigation-buttons .button:hover {
    background-color: #0056b3;
  }

.navigation-buttons {
    display: flex;
    margin-top: 2rem;
}

.navigation-buttons .previous, .navigation-buttons .next-upon-success {
    flex: 1;
}


.task-builder-task .task-section, .task-builder-task .task-id-section, .task-builder-task .metadata-section, .task-builder-task .metadata-item, .task-builder-task .split-parameters {
  margin-bottom: 15px;
}

.task-builder-task h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.task-builder-task label {
  display: block;
  margin-bottom: 2rem;
  font-weight: 500;
}

.task-builder-task label p{
  margin-bottom: 5px;
}

.task-builder-task input[type="range"] {
  width: 80%;
}

.task-builder-task button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.task-builder-task button:hover {
  background-color: #0056b3;
}



.review-task {
  width: 95%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section {
  margin-bottom: 20px;
}

.section-heading {
  background-color: rgb(248, 249, 250)  ;
  color: black;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: left;
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
}

.section-heading i {
  font-size: 16px;
  margin-right: 8px;
}

.section-content {
  display: none;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-top: 10px;
}


/* FlowControl.css */
.flow-messaging {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 5rem 25rem;
  padding: 4rem 2rem;
}

.flow-messaging h3 {
  text-align: center;
  margin-bottom: 20px;
  padding: 0 7rem;
}

.flow-messaging button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.flow-messaging button:hover {
  background-color: #0056b3;
}

.uppy-uploader-component .info-icon {
  top: 0px !important;
  float: left;
}

.upload-task .files-selected button.cross-button {
  cursor: pointer;
}

.task-builder-task .dialog-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.task-builder-task .dialog {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 80%;
  max-height: 90vh;
  overflow-y: auto;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
}


/* Additional styles for FilterComponent */
.task-builder-task .dialog-container .filter {
  flex: 1;
}

.task-builder-task .dialog-container .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.task-builder-task .dialog-container .pagination button {
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  cursor: pointer;
}

.task-builder-task .dialog-container .pagination button:disabled {
  background-color: #e0e0e0;
  cursor: default;
}

.task-builder-task .dialog-container .pagination span {
  margin: 0 10px;
}

.task-builder-task .dialog-container .filters-and-search-container {
  display: flex;
}

.task-builder-task .dialog-container span.search-title {
  font-weight: 700;
  color: #666;
  display: block;
  margin: 3px 0;
}

.task-builder-task .dialog-container .facet {
    white-space: nowrap;
    display: inline-block;
    margin-right: 8px;
    box-sizing: border-box;
    vertical-align: top;
    cursor: pointer;
}

.task-builder-task .dialog-container .table-results {
  overflow-y: auto;
}

.task-builder-task .dialog-container .table-results table{

  width: 100%;
}

.task-builder-task .dialog-container .facet p {
  background-color: #fff;
  padding: 8px 16px;
  border-radius: 15px;
  border: 0.64px solid #4d72aa;
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
}

.task-builder-task .dialog-container .facet .filters-box-searchable {
  width: 375px;
  border: 1px solid #aaa;
  background: #fff;
  position: absolute;
  z-index: 9000;
  border-radius: 5px;
  padding: 1rem;
  margin-top: 2px;
}

.task-builder-task .dialog-container .facet .filters-box-searchable {
  display: flex;
  flex-direction: column;
}


.task-builder-task .dialog-container .facet .filters-box-footer {
  height: 40px;
}

.task-builder-task .dialog-container button.filters-toggle{
  margin-top: 18px;
  white-space: nowrap;
    margin-right: 8px;
    vertical-align: top;

    background-color: #fff;
    color: black;
    border-radius: 15px;
    border: 0.64px solid #4d72aa;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0px 16px;
    height: 40px;
}

.task-builder-task .dialog-container .filters-toggle-div {
  display: inline-block;
}

.task-builder-task .dialog-container .metadata-search-wrap {
  flex: 0 0 60%;
}

.task-builder-task .dialog-container .study-keyword-search {
  flex: 0 0 37%;
}

.task-builder-task .dialog-container .facet .filters-options ul {
  list-style-type: none;
  padding-left: 0px;
}
.task-builder-task .dialog-container .facet .filters-options li {
  list-style-type: none;
}

.task-builder-task .dialog-container .study-keyword-search form{
  margin-top: 18px;
}

.task-builder-task .dialog-container button.filters-toggle svg{
  margin-right: 5px;
}

.task-builder-task .dialog-container .study-keyword-search svg.right {
  right: 9rem;
}

.task-builder-task .dialog-container .study-keyword-search svg.top-1\/2 {
  top: 4.5rem;
}

/* ResultsTable.css */

/* Reset table styling */
.task-builder-task .dialog-container .table-results table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.task-builder-task .dialog-container .table-results th,
.task-builder-task .dialog-container .table-results td {
  padding: 12px 15px;
  text-align: left;
}

.task-builder-task .dialog-container .table-results th {
  background-color: rgb(201, 201, 201);;
  color: black;
  text-transform: uppercase;
}

.task-builder-task .dialog-container .table-results tr {
  border-bottom: 1px solid #dddddd;
}

.task-builder-task .dialog-container .table-results tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.task-builder-task .dialog-container .table-results tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.task-builder-task .dialog-container .table-results tr:hover {
  background-color: #f1f1f1;
}

.task-builder-task .dialog-container .table-results td {
  border-right: 1px solid #dddddd;
}

.task-builder-task .dialog-container .table-results td:last-child {
  border-right: none;
}


.task-builder-task .dialog-container .facet .filter-category {
  /* Your default styles for filter category */
  cursor: pointer;
}

.task-builder-task .dialog-container .facet .filter-category p.highlighted,
.task-builder-task .dialog-container .facet .filter-category p:hover {
  /* Styles for the highlighted state */
  background-color: #f0f0f0;
}