/* ManageOptions.css */

.manage-options-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  .field-container {
    margin: 20px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    overflow: auto;
    max-height: 9rem;
  }
  
  .option-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  
  .delete-button {
    background-color: #ff6347;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 1rem;
  }
  
/* Add styles for the "add" button next to the "delete" button */
.add-button {
  background-color: #ff6347;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  font-size: 14px;
}

/* Add styles for the "Add New Task Option" dialog */
.add-option-dialog {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px 0;
  background-color: #f9f9f9;
}

.cancel-button {
  background-color: #ccc;
}